@import "../css/color";

button.primary-button {
  display: inline-block;
  width: 150px;
  height: 30px;
  background: $lightblue;
  color: $darkblue;
  border: $darkblue solid 1px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 27px;
}

button.primary-button.selected,
button.primary-button:active,
button.primary-button:focus {
  background: $darkblue;
  color: $lightblue;
  font-weight: bold;
  outline: none
}

button.primary-button:disabled {
  border: $gray1 solid 1px;
  background: $gray3;
  color: $gray1;
}

button.white-button,
button.white-button:focus,
button.white-button:active {
  height: 24px;
  border: $lightblue solid 1px;
  background: white;
  color: $lightblue;
  line-height: 24px;
  border-radius: 4px;
}

button.white-button.selected {
  padding-top: 2px;
  background: white;
  color: $lightblue;
  border: $lightblue solid 1px;
  border-radius: 3px;
}

button.white-button:disabled {
  padding-top: 2px;
  background: $gray3;
  color: $gray2;
  border: $gray2 solid 1px;
  border-radius: 3px;
}

input.standard-input,
textarea.standard-textarea {
  padding: 0;
  border-bottom: $gray1 1px solid;
  background: transparent;
  color: $black;
  line-height: 15px;
}

input.standard-input:focus,
textarea.standard-textarea:focus {
  border-bottom: $blue 1px solid;
}

.standard-input-warning {
  position: relative;
  top: -2px;
  color: $orange;
  font-size: 12px;
}

.warning-text {
  color: $error_red;
}