@import "../../css/color";
@import "../../css/util";
.error-dialog-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);

  text-align: center;

  .error-dialog {
    @extend .center-fixed;
    //width: 400px;
    background: white;
    box-shadow: 0 1px 10px $gray1;
    padding: 15px 40px;

    .title {
      font-size: 1.5em;
    }

    .body {
      padding: 10px;
    }

    .technical-error {
      padding: 10px 10px 10px 10px;
      color: gray;
      font-size: 0.7em;
      white-space: pre-line;
    }
  }
}
