@import "../../css/color";
.create-prediction {
  width: 600px;
  background: $gray4;
  padding: 0 20px;

  .title-stuff {
    text-align: center;
    font-size: 2rem;
  }

  .input-row {
    margin-top: 10px;

    &.one-liner {
      > * {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .input {
      width: 100%;
    }
  }

  .participant {
    display: flex;

    input {
      flex: 1 0 auto;
      margin-right: 10px;
    }

    button {
      flex: 0 0 auto;
    }
  }

  .create-button {

  }
}