@import "../css/color";
.base {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;


  .presentation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: black;

    .header {
      text-align: center;
      font-size: 2rem;
      padding-top: 50px;
      color: #990090;

      img {
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .intro {
      font-size: 1.5rem;
      font-style: italic;
    }
    .outro {
      font-size: 1.5rem;
      font-style: italic;
    }
    .quotes {
      > span {
        display: block;
      }
    }
  }
  .prediction-list {
    background: $gray4;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}